/* ====== Общие стили ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}

/* ====== HEADER ====== */
.header {
  padding: 20px 0;
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-accent {
  color: #2e2f42;
}

/* ====== Навигация ====== */
.nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* ====== Контакты ====== */
.contact {
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.contact-link {
  text-decoration: none;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms ease-in-out;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* ====== HERO ====== */
.hero {
  text-align: center;
  padding: 100px 20px;
  background-color: #2e2f42;
  color: white;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ====== FOOTER ====== */
.footer {
  background-color: #2e2f42;
  padding: 20px;
  text-align: center;
  color: white;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
